.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 16px;
	// border-bottom: 1px solid #eee;
	&__start {
		display: flex;
		align-items: center;
		margin-right: 10px;
		.icon {
			flex: 0 0 35px;
			max-width: 35px;
			color: #000;
			margin-right: 20px;
			padding: 5px;
		}
		.logo {
			flex: 1;
			width: 110px;
		}
		.text {
			font-size: 10px;
			font-family: Roboto, Arial, sans-serif;
			text-transform: uppercase;
			color: #606060;
			margin-top: -20px;
		}
		span {
			&:hover {
				cursor: pointer;
			}
			&.icon:active {
				background-color: #eee;
				border-radius: 50%;
				overflow: hidden;
			}
		}
	}
	&__center {
		display: flex;
		align-items: center;
		flex: 0 0 680px;
		position: relative;
		&--search {
			display: flex;
			flex: 1;
			margin-right: 20px;
			.form-group {
				margin-bottom: 0;
				width: 100%;
				flex: 1;
				.form-control {
					height: 33px;
					width: 100%;
					background-color: hsl(0, 0%, 100%);
					border: 1px solid #ccc;
					border-right: none;
					border-radius: 2px 0 0 2px;
					box-shadow: inset 0 1px 2px #eee;
					color: hsl(0, 0%, 6.7%);
					padding: 2px 15px;
					&:focus {
						outline: none;
						border: 1px solid rgb(15, 82, 182);
					}
				}
			}
			.search-icon {
				flex: 0 0 65px;
				max-width: 65px;
				background-color: #f8f8f8;
				border: 1px solid #ccc;
				border-radius: 0 2px 2px 0;
				span {
					color: rgb(90, 88, 88);
					svg {
						width: 28px;
						opacity: 0.8;
					}
					&:hover {
						color: #000;
						opacity: 1;
					}
				}
			}
		}
		.microphone-icon {
			background-color: #f8f8f8;
			border-radius: 50%;
			padding: 5px;
			border: 0;
			span {
				color: rgb(90, 88, 88);
				svg {
					width: 24px;
				}
			}
		}
	}
	&__end {
		min-width: 280px;
		&--icons {
			display: flex;
			min-width: 225px;
			align-items: center;
			justify-content: flex-end;
			.signIn {
				border: 1px solid #065fd4;
				padding: 4px 16px;
				text-transform: uppercase;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 600;
				font-size: 14px;
				background-color: #fff;
				color: #065fd4;
				span {
					margin: 0;
					color: #065fd4;
					svg {
						width: 22px;
					}
				}
			}
			div {
				width: 35px;
				// margin-right: 20px;
				// padding: 5px;
				&.image {
					border-radius: 50%;
					height: 25px;
					width: 25px;
					padding: 0%;
					overflow: hidden;
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: top;
					}
				}
				&:hover {
					cursor: pointer;
				}
				&:active {
					background-color: #eee;
					border-radius: 50%;
					overflow: hidden;
				}
			}
			.dropdown {
				margin-right: 20px;
				button {
					background: unset;
					border: unset;
					font-size: 10px;
					padding: 5px;
					svg {
						width: 25px;
					}
					&:active {
						color: unset !important;
						border-color: unset !important;
						background-color: unset !important;
					}
					&:focus {
						box-shadow: none !important;
						outline: none !important;
					}
				}
				&-toggle::after {
					display: none;
				}
				&-menu.show {
					transform: translate(2px, 35px) !important;
					border-top: unset;
					border-radius: unset;
					.dropdown-item {
						display: flex;
						padding: 0.5rem 15px;
						font-size: 14px;
						margin-right: 15px;
						span {
							width: 20px;
						}
					}
					&.youtube-app {
						transform: translate(-125px, 35px) !important;
					}
					&.Notifications {
						transform: translate(-90%, 35px) !important;
                        min-width: 450px;
                        a{
                            align-items: center;
                            justify-content: space-between;
                            padding-right: 10px;
                            padding-left: 10px;
                            margin: 0;
                            &:hover{
                                background-color: unset;
                            }
                            &:focus{
                                background-color: unset;
                            }
                            span{
                                margin: 0;
                            }
                            i{
                                font-style: normal;
                                font-size: 16px;
                                color: #030303;
                            }
                        }
                        .wrapper{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
							width: 100%;
                            height: 70vh;
                            .icon{
                                width: 100px;
                                color: gray;
                                margin-bottom: 20px;
                            }
							p{
								white-space: break-spaces;
								text-align: center;
							}
                        }
                        span{
                            &:hover{
                                background-color: #eee;
                                border-radius: 50%;
                                box-shadow: 0 1px 0 5px #eee;
                            }
                        }
					}
					&.logout{
						transform: translate(-120px, 37px) !important;
						ul{
							list-style: none;
							padding: 0;
						}
					}
				}
				&:active {
					background-color: #eee;
					border-radius: 50%;
					overflow: hidden;
				}
			}
		}
		.btn-primary:not(:disabled):not(.disabled).active,
		.btn-primary:not(:disabled):not(.disabled):active,
		.show > .btn-primary.dropdown-toggle {
			color: unset !important;
			background-color: unset !important;
			border-color: unset !important;
		}
	}
}
