.dashBoard{
    list-style: none;
    &.less{
        flex: 0 0 65px;
        max-width: 65px;
    }
    &.show{
        flex: 0 0 190px;
        max-width: 190px;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 580px;
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent; 
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #888; 
        }
        .dashBoard__icon{
            flex-direction: row;
            align-items: center;
            padding-top:3px;
            padding-bottom:3px;
            margin-bottom: 10px;
            span{
                margin-right: 30px;
            }
            i{
                font-size: 14px;
                font-weight: 500;
                color: #3a3838;
            }
            &.active{
                background-color: #d6cfcf;

            }
            &.b-bottom{
                border-bottom: 1px solid #eee;
                margin-bottom: 10px;
            }
           .wrapper{
               display: flex;
               align-items: center;
               div{
                   margin-right: 30px;
                   &.image{
                       border-radius: 50%;
                       width: 30px;
                       padding: 0%;
                       overflow: hidden;
                       img{
                           height: 100%;
                           width: 100%;
                           object-fit: cover;
                           object-position: top;
                       }
                   }
                   &:hover{
                       cursor: pointer;
                   }
                   &:active{
                       background-color: #eee;
                       border-radius: 50%;
                       overflow: hidden;
                   }
               }
           }
        }
        .subscription{
            font-size: 13px;
            font-weight: 600;
            color: rgb(94, 91, 91);
        }
    }
    &__icon{
        display: flex;
        flex-direction: column;
        color: #000;
        padding: 10px 20px;
        margin-bottom: 8px;
        span{
            margin-bottom: 5px;
            svg{
                width: 22px;
            }
        }
        i{
            font-style: normal;
            font-size: 9px;
            text-transform: capitalize;
        }
        &:hover{
            background-color: #eeeeee;
        }
    }
}