* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
.b-bottom {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.main {
	display: flex;
	.right {
		flex: 1;
		text-align: center;
		.slick-slider {
            display: grid;
			margin-right: auto;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 10px 0;
			.slick-prev {
				left: 0;
				z-index: 1;
			}
			.slick-next {
				right: 0;
				z-index: 1;
			}
			// .slick-slide{
    		// 	margin-right: 20px;
			// }
		}
	}
}
.modal {
	.modal-content {
		width: 550px;
		left: -10px;
		top: -15px;
		.modal-header {
			border: unset;
			padding-bottom: 0;
			display: inline-block;
			text-align: right;
			span {
				font-size: 30px;
				font-weight: 300;
				cursor: pointer;
				transition: ease all;
				padding: 0 5px;
				&:active {
					background: #cecece;
					border-radius: 50%;
				}
			}
		}
		.modal-body {
			padding-left: 32px;
			padding-bottom: 32px;
			h2 {
				font-size: 20px;
				margin-bottom: 20px;
			}
			p {
				font-size: 14px;
				min-height: 150px;
			}
			.microphone {
				text-align: center;
				svg {
					width: 60px;
					display: inline-block;
					background: #cecece;
					border-radius: 50%;
					padding: 10px;
					cursor: pointer;
					transition: 0.2s ease-in all;
					&:active {
						background-color: #948f8f;
					}
				}
			}
		}
	}
}
.react-tabs {
	&__tab-list {
		border-bottom: unset !important;
	}
}
.slick-track {
	.slick-slide {
		> div {
			color: #000;
			background: #f1f1f1;
			padding: 5px 20px;
			border-radius: 22px;
			display: inline-block;
            text-transform: capitalize;
            margin: 0 10px;
            cursor: pointer;
            &:hover{
                background-color:#cac6c6 ;
            }
            &.active{
                color: #fff;
            }
		}
		&.active{
			div{
				background: #000;
				color: #fff;
			}
		}
	}
}
.grid{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 320px 320px 320px 320px;
	place-items: center;
	margin-top: 20px;
	&.open{
		grid-template-columns: 285px 285px 285px 285px;
		.video{
			.video__wrapper{
				width: 250px;
				video{
					width: 100%;
				}
			}
		}
	}
	.video{
		.video__wrapper{
			width: 280px;
			video{
				width: 100%;
			}
		}
		.lower-content{
			display: flex;
			margin-top: 10px;
			.logo{
				width: 30px;
				overflow: hidden;
				height: 30px;
				border-radius: 50%;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.title{
				margin-left: 10px;
				h4{
					font-size: 20px;
					font-weight: 400;
				}
			}
		}
	}
}
